.jumbotron{
    margin-top:35px;
    border-radius: 2%;
    text-align: center;
    padding: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    

    .btn {
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
        
      }

      .danger {
        border-color: #f44336;
        color: red;
      }
      
      .danger:hover {
        background: #f44336;
        color: white;
      }

      .info {
        border-color: blue;
        color: blue;
      }
      
      .info:hover {
        background: blue;
        color: white;
      }
}
