.homepage{
    margin-top: 20px;
}
.principalContent{
    text-align: center;
    margin-top: 30px;
}

.scrollspySite{
    position: relative;
    overflow: auto;
    height: 300px;
}

.navpills{
    background-color: #f2f2f2;
}